/* ==> Header <== */
.market-headerr {
  color: black;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 100px;
}

/* _______________________________________________________________________________________________________________________________________ */

/* ==> Card List CSS <== */
.card {
  display: inline-block !important;
  width: min-content !important;
  margin-left: 30px !important;
  margin-bottom: 30px !important;
}
.shoes-cardd {
  display: inline-block;
}
.img {
  width: 243px;
  height: 175px;
}

/* ________________________________________________________________________________________________________________________________________ */

/* ==> Button CSS <== */
.button {
  color: green;
}

.full-width {
  width: 100%;
}

.btnn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-outline-success {
    color: orange !important;
    border-color: orange !important;
}

/* ________________________________________________________________________________________________________________________________________ */

/* ==> Add New Shoes CSS <== */
.addshoes {
  display: flex;
  justify-content: center;
}
.styleflexx {
  text-align: center;
  background: rgba(224, 222, 222, 0.247) !important;
  padding: 2rem 3rem;
  margin-bottom: 6rem;
 
}

/* ________________________________________________________________________________________________________________________________________ */
